ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.d-menu-li {
  line-height: var(--header-height);
  transition: line-height 0.3s ease;
  position: relative;

  & > a {
    color: #dedede;
    transition: color 0.3s ease;
    transition-delay: 0.1s;
    padding: 0 15px;
    // 链接的下划线
    &:before {
      content: " ";
      position: absolute;
      top: 80%;
      left: 100%;
      right: 100%;
      border-bottom: 2px solid #2ca7f8;
      transition: all 0.3s ease;
    }
  }

  &.hover {
    > .vaild-link,
    > .valid-link {
      color: #2ca7f8;
    }
    > a:before {
      left: 15px;
      right: 15px;
    }
    .d-sub-menu {
      max-height: 500px;
    }
  }
  &:hover {
    @media (any-hover: hover) {
      > .vaild-link,
      > .valid-link {
        color: #2ca7f8;
      }
      > a:before {
        left: 15px;
        right: 15px;
      }
      .d-sub-menu {
        max-height: 800px;
      }
    }
  }
}

// level 2 menu
.d-sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background: #f6f6f6;
  min-width: 200px;
  box-shadow: 0 2px 6px #0003;
  z-index: 9;
  max-height: 0px;
  transition: max-height 0.3s ease;
  transition-delay: 0.1s;
  overflow: hidden;
  & > li {
    line-height: 15px;
    padding: 10px 15px;
    float: none;
    border-bottom: 1px solid #f0f0f0;
    height: auto;
    & > a {
      background: 0 0;
      touch-action: manipulation;
      background-color: transparent;
      color: #444;
    }
    &.has-child-menu {
      & > a:after {
        content: "▶";
        transition: all 0.4s ease;
        font-size: 0.6rem;
        float: right;
        opacity: 1;
      }
      // 改用js事件实现，避免三级菜单自动收回，二级高度发生变化，导致二级菜单也被自动收回
      // &:hover {
      &.hover {
        > a:after {
          opacity: 0;
          transform: rotate(90deg);
        }

        > .d-child-menu {
          max-height: 500px;
        }
      }
    }
    &:not(.has-child-menu):hover {
      & > a {
        color: #2ca7f8;
      }
    }
  }
}

// level 3 menu
.d-child-menu {
  margin-top: 5px;
  max-height: 0px;
  transition: max-height 0.3s ease;
  transition-delay: 0.1s;
  overflow: hidden;
  & > li {
    line-height: 15px;
    padding: 10px 15px;
    float: none;
    border-bottom: 1px solid #f0f0f0;
    height: auto;
    & > a {
      background: 0 0;
      touch-action: manipulation;
      background-color: transparent;
      color: #444;
      &:hover {
        color: #2ca7f8;
      }
    }
  }
}

@media (max-width: 800px) {
  .d-menu-li {
    line-height: 40px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    // 旋转展开按钮
    &.hover {
      .d-sub-menu-btn:after {
        transform: rotate(90deg);
      }
    }
    .d-sub-menu {
      position: unset;
      // 手机端默认展开二级菜单，隐藏展开标识
      > li.has-child-menu {
        position: relative;
        a:after {
          float: none;
          position: absolute;
          margin-left: 0.5rem;
        }
      }
    }
    // 隐藏下划线
    a:before {
      display: none;
    }
    // 由于之前有错别字，修复后短时间做兼容
    .vaild-link,
    .valid-link {
      color: #2ca7f8;
    }
    // 展开按钮
    .d-sub-menu-btn {
      &:after {
        content: "▶";
        display: block;
        transition: transform 0.3s;
        font-size: 0.6rem;
        cursor: pointer;
      }
      width: 40px;
      position: absolute;
      right: 1rem;
      top: 0;
      color: white;
      font-size: 1.5rem;
    }
  }
}
